.footer {
  background-color: $dark;
  width: 100%;
  color: $white;

  a {
    color: $white;

    &:hover {
      color: $gray;
    }
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 70px;

  @include r($breakpoint-2) {
    margin-bottom: 50px;
  }

  svg {
    width: 217px;
    height: 40px;
    fill: $white;
    @include ease-long;
  }

  &:hover {
    svg {
      fill: $gray;
    }
  }
}

.nk {
  display: flex;
  gap: 11px;

  svg {
    fill: $white;
    @include ease-long;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }
}