div {
  &.pagination {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    ul {
      &.pagination {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        gap: 10px;

        li {
          &.page-item {
            color: $gray;

            .page-link {
              color: $gray;
              width: 100%;
              height: 100%;
              @include flex-center;
              &:hover {
                color: $darkGray;
              }
            }

            &.active {
              .page-link {
                margin-top: -2px;
                @include font-semi;
                font-size: 18px;
                color: $dark;
              }
            }
          }

          &:hover.page-link {
            color: $dark;
          }
        }
      }
    }


    .pagination-dots {
      color: $gray;
    }

    .button-arrow {
      width: 50px;
      height: 50px;
      @include flex-center;
      background-color: $white;
      border-radius: 50%;
      
      &.disabled {
        &:hover {
          background-color: $white;
        }
        svg {
          fill: $gray;
          cursor: not-allowed;
        }
    }

      &:hover {
        background-color: $gray;
      }
      
      svg {
        fill: $dark;
      }
    }
  }

}