button {
  border: none;
  outline: none;
  box-shadow: unset;
  background: none;
  padding: 0;
}

.button,
a.button {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  @include ease-long;
  @include font-semi;
  @include text3;

  &-green {
    color: $dark;
    background-color: $green;
    &:hover {
      color: $dark;
      background-color: $gray;
    }
  }
  &-light {
    color: $dark;
    background-color: $white;

    &:hover {
      color: $dark;
      background-color: $gray;
    }
  }
  &-dark {
    color: $green;
    background-color: $dark;
    &:hover {
      color: $green;
      background-color: $darkGray;
    }
  }
}

//.link-icon {
//  display: inline-flex;
//  align-items: center;
//  gap: 5px;
//
//  svg {
//    width: 24px;
//    height: 24px;
//
//    @include r($breakpoint-2) {
//      height: 18px;
//      width: 18px;
//    }
//  }
//}

.link-underline {
  color: currentColor;
  border-bottom: 1px solid currentColor;

  &:hover {
    color: $gray;
    border-bottom-color: $green;
  }
}
