input {
  border: none;
  outline: none;
  box-shadow: unset;
  background: none;
}

.form-input {
  font-size: 14px;
  color: $dark;
  @include font-regular;
  background-color: $lightGray;
  padding: 23px 25px;
  border-radius: 54px;

  &::placeholder {
    color: $gray;
  }

  &:focus {
    background-color: #ebe5e5;
  }
}

/* select2 */
.fancybox-active .select2-container--open .select2-dropdown {
  z-index: 100100;
  background-color: $white;
  border-color: $tr !important;
}

.select2-dropdown {
  border: 1px solid #D9D9D9 !important;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  border-radius: 0;
}
.select2-container--open {
  .select2-selection__arrow {
    transform: scaleY(-1)
  }
  .select2-dropdown--below {
    border: none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
}
.select2-container--default {
  .select2-selection--single {
    outline: none;
    min-height: 30px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border-color: #D9D9D9;
    @include ease-long;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.15);

    .select2-selection__rendered {
      color: $dark;
      margin-right: 13px;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    .select2-selection__arrow {
      background-image: url('../img/icon-arrow--select.svg');
      @include ease-long;
      background-position: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      right: 9px;
      margin-top: -1px;
      width: 9px;
      height: 5px;

      @include r($breakpoint-2) {
        right: 12px;
      }

      b {
        display: none;
      }
    }
  }
  //&.select2-container--open .select2-selection__arrow {
  //  //background-image: url('../img/icon-arrow--select-red.svg');
  //}
  .select2-results__option {
    @include ease-long;
    padding: 5px 9px 6px 10px;
  }
  .select2-results__option--highlighted[aria-selected] {
    color: $dark;
    background-color: $white;
  }
  .select2-results__option[aria-selected=true] {
    color: $gray;
    background-color: $white;

    // todo
    display: none;
  }
  .select2-results>.select2-results__options {
    margin-right: 4px;
    margin-bottom: 5px;
    &::-webkit-scrollbar {
      width: 3px;

      &-track {
        background-color: $tr;
        //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        //border-radius: 50px;
      }
      &-thumb {
        background-color: $dark;
        border-radius: 50px;
      }
    }
  }

  &.select2-container--open .select2-dropdown--above {
    border-bottom-color: transparent !important;
    bottom: -6px;
  }

  &.select2-container--open.select2-container--above {
    .select2-selection--single {
      border-top-color: transparent !important;
    }
  }

  &.select2-container--open .select2-dropdown--below {
    border-top-color: transparent !important;
    top: -6px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &.select2-container--open.select2-container--below {
    .select2-selection--single {
      border-bottom-color: transparent !important;
      box-shadow: none;
    }
  }
}