.vacancy-text {
  p {
    margin-bottom: 8px;

    @include r($breakpoint-3) {
      margin-bottom: 4px;

    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.vacancy {
  position: relative;
  padding-top: 39px;
  height: 100%;

  @include r($breakpoint-3) {
    font-size: 11px;
    padding: 17px 16px 15px;

    .text4 {
      font-size: 9px;
    }
    .title-mb-3 {
      margin-bottom: 10px;
    }
  }

  &-title {
    min-height: 37px;

    @include r($breakpoint-3) {
      //min-height: 34px;
      min-height: unset;
    }
  }

  &-wrapper {
    padding-top: 13px;
  }

  .label {
    position: absolute;
    left: 25px;
    top: -15px;
    padding: 10px 20px;

    @include r($breakpoint-3) {
      left: 17px;
      padding: 5px 15px
    }
  }
}

.enough {
  @include r($breakpoint-3) {
    padding-top: 90px;
  }
}

.enough-img {
  position: relative;

  @include r($breakpoint-3) {

    img {
      position: absolute;
      left: -80px;
      top: -140px;
    }
  }
}

.enough-title {
  @include r($breakpoint-3) {
    font-size: 26px;
  }
}
.enough-subtitle {
  @include r($breakpoint-3) {
    font-size: 14px;
  }
}
.enough-button {
  @include r($breakpoint-3) {
    font-size: 12px;
    padding: 18px 20px;
  }
}

.feed-wrapper {
  position: relative;
  & > div {
    position: static;
  }

  &__title {
    @include r($breakpoint-2) {
      position: relative;
      padding-right: 180px;
    }
  }

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include r($breakpoint-2) {
      max-width: 135px;
      height: auto;
      top: calc(50% - 10px);
    }
  }
}

.feed-text {
  @include r($breakpoint-4) {
    br {
      display: none;
    }
  }
}

.catalog-select {
  max-width: 58px;
  width: 100%;
}

.catalog-offer {
  padding-bottom: 57px;
  @include r($breakpoint-3) {
    padding-bottom: 45px;
  }

  &__card {
    position: relative;
    width: calc(100% + 47px);
    padding-left: 34px;
    left: -30px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $green;
    min-height: 316px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    position: relative;
    span:nth-child(2) {
      position: absolute;
      left: calc(100% + 22px);
      top: 50%;
      transform: translateY(-50%);
      width: 277px;
    }
  }
}

.catalog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 18px;
  margin-left: 28px;

  @include text4;

  &__item {
    position: relative;

    &--online {
      &::after {
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        width: 11px;
        height: 11px;
        background: radial-gradient(50% 50% at 50% 50%, #D2FF7B 0%, #A1DE2F 100%);
        border: 1px solid $dark;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
      }
    }

    img {
      max-width: 104px;
      height: auto;
      border-radius: 22px;
      overflow: hidden;
    }
  }
}

.selections-button {
  position: absolute;
}

.selections-slider-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  .slider {
    position: relative;

    .swiper-slide:last-child {
      padding-right: 90px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 90px;
      height: 100%;
      right: 0;
      top: 0;
      background: linear-gradient(90deg, $tr 0%, $green 50%, $green 100%);
      z-index: 1;
    }
  }
  .swiper-nav {

    button {

      &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
      }

      svg {
        fill: $dark;
      }

      &:last-child {
        left: auto;
        right: 0;
      }
      &:first-child {
        left: 0;
      }
    }
  }
}

.catalog-left-col {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 410px);
    border-top-right-radius: 20px;
    height: 100%;
    right: 0;
    top: 0;
    backdrop-filter: blur(20px);
    background-color: $white;
    mask: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 1) 100%
    );

  }
}

.filter {
  position: relative;
  padding: 50px 20px 40px;


  &__in {
    position: relative;
  }
}

.filter-item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #E5E5E5;
  &__top {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  &__button {
    width: 22px;
    height: 22px;

    &:hover {
      svg {
        stroke: $dark;
      }
    }

    &.active {
      svg {
        transform: scaleY(-1);
      }
    }
    svg {
      width: 20px;
      height: 7px;
      stroke: $green;
      @include ease;
    }

    &--small {
      svg {
        width: 12px;
        height: 5px;
      }
    }
  }

  &__title {
    @include text1;
    @include font-semi;
  }

  &__content {
    padding-top: 20px;
  }
}

.filter-checkbox {
  & > span {
    @include text3;

    & > svg {
      width: 12px;
      height: 12px;
      left: 4px;
      top: 4px;
    }
  }

  &__sex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -2px !important;

    span {
      margin-top: 0;
    }
  }
}

.filter-variants {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-specializations {
  max-height: 85px;
  overflow-y: auto;

  @include scroll-gray;
}
.filter-locations {
  max-height: 300px;
  overflow-y: auto;

  @include scroll-gray;
}

.filter-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  &__reset {
    position: relative;
    padding-right: 10px;
    font-size: 12px;

    &:hover {
      color: #FF4B17;
    }

    span:last-child {
      position: absolute;
      color: #FF4B17;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}