.vacancy-text {
  p {
    margin-bottom: 8px;

    @include r($breakpoint-3) {
      margin-bottom: 4px;

    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.vacancy {
  position: relative;
  padding-top: 39px;
  height: 100%;

  @include r($breakpoint-3) {
    font-size: 11px;
    padding: 17px 16px 15px;

    .text4 {
      font-size: 9px;
    }
    .title-mb-3 {
      margin-bottom: 10px;
    }
  }

  &-title {
    min-height: 37px;

    @include r($breakpoint-3) {
      //min-height: 34px;
      min-height: unset;
    }
  }

  &-wrapper {
    padding-top: 13px;
  }

  .label {
    position: absolute;
    left: 25px;
    top: -15px;
    padding: 10px 20px;

    @include r($breakpoint-3) {
      left: 17px;
      padding: 5px 15px
    }
  }
}

.enough {
  @include r($breakpoint-3) {
    padding-top: 90px;
  }
}

.enough-img {
  position: relative;

  @include r($breakpoint-3) {

    img {
      position: absolute;
      left: -80px;
      top: -140px;
    }
  }
}

.enough-title {
  @include r($breakpoint-3) {
    font-size: 26px;
  }
}
.enough-subtitle {
  @include r($breakpoint-3) {
    font-size: 14px;
  }
}
.enough-button {
  @include r($breakpoint-3) {
    font-size: 12px;
    padding: 18px 20px;
  }
}

.feed-wrapper {
  position: relative;
  & > div {
    position: static;
  }

  &__title {
    @include r($breakpoint-2) {
      position: relative;
      padding-right: 180px;
    }
  }

  img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include r($breakpoint-2) {
      max-width: 135px;
      height: auto;
      top: calc(50% - 10px);
    }
  }
}

.feed-text {
  @include r($breakpoint-4) {
    br {
      display: none;
    }
  }
}

.catalog-offer {
  padding-bottom: 57px;
  @include r($breakpoint-3) {
    padding-bottom: 45px;
  }

  &__card {
    position: relative;
    width: calc(100% + 47px);
    padding-left: 34px;
    left: -30px;
    overflow: hidden;
    border-radius: 24px;
    background-color: $green;
    min-height: 316px;


    @include r($breakpoint-3) {
      min-height: unset;
      width: calc(100% + 32px);
      padding: 40px 15px 20px;
      left: -16px;
    }

    @include r($breakpoint-2) {
      .title-h1 {
        font-size: 30px;
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    position: relative;
    span:nth-child(2) {
      position: absolute;
      left: calc(100% + 22px);
      top: 50%;
      transform: translateY(-50%);
      width: 277px;

      @include r($breakpoint-2) {
        width: 200px;
        left: calc(100% + 15px);
        top: auto;
        transform: none;
        bottom: 0;
      }

      @include r(385) {
        font-size: 10px;
      }
    }
  }
}

.catalog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 18px;
  margin-left: 28px;

  @include r($breakpoint-3) {
    margin-left: 0;
  }

  @include text4;

  &__item {
    position: relative;

    &--online {
      .catalog-cards__picture {
        &::after {
          content: '';
          position: absolute;
          top: 2px;
          right: 2px;
          width: 11px;
          height: 11px;
          background: radial-gradient(50% 50% at 50% 50%, #D2FF7B 0%, #A1DE2F 100%);
          border: 1px solid $dark;
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
        }
      }
    }
  }

  &__picture {
    position: relative;
    display: inline-block;


    @include r($breakpoint-3) {
      width: 100%;
    }

    img {
      width: 100%;
      max-width: 104px;
      height: auto;
      border-radius: 22px;
      overflow: hidden;


      @include r($breakpoint-3) {
        max-width: unset;
      }
    }
  }
}

.selections-button {
  position: absolute;
}

.selections-slider-wrapper {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    width: 90px;
    height: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, $tr 0%, $green 50%, $green 100%);
    z-index: 1;

    @include r($breakpoint-3) {
      width: 50px;
    }
  }

  .swiper-nav {
    z-index: 2;

    button {
      z-index: 2;

      @include r($breakpoint-3) {
        width: 30px;
        height: 30px;

        svg {
          width: 18px;
        }
      }
    }
  }

  @include r($breakpoint-3) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slider {

    @include r($breakpoint-3) {
      .radio__text {
        padding: 8px 10px;
        font-size: 12px;
      }
    }

    .swiper-slide:last-child {
      padding-right: 90px;
    }
  }
  .swiper-nav {

    button {

      &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
      }

      svg {
        fill: $dark;
      }

      &:last-child {
        left: auto;
        right: 0;
      }
      &:first-child {
        left: 0;
      }
    }
  }
}

.catalog-left-col {
  position: relative;

  &__in {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 410px);
    border-top-right-radius: 20px;
    height: 100%;
    right: 8px;
    top: 0;
    backdrop-filter: blur(20px);
    background-color: $white;
    mask: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 1) 100%
    );

  }
}

.filter {
  padding: 20px 20px 40px;

  @include r($breakpoint-2) {
    display: none;
    width: 100%;
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 14px;
    padding-bottom: 170px;
  }

  &__in {
    position: relative;
  }
}
.filter-actions {
  @include r($breakpoint-2) {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 20px 15px;
    background-color: $white;
    z-index: 2;
  }

  &__in {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @include r($breakpoint-2) {
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 50px;
        left: 0;
        bottom: calc(100% + 20px);
        background: linear-gradient(0deg, $white 0%, $tr 100%);
      }
    }
  }

  &__reset {
    position: relative;
    padding-right: 10px;
    font-size: 12px;

    &:hover {
      color: #FF4B17;
    }

    span:last-child {
      position: absolute;
      color: #FF4B17;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.filter-button {
  color: $white;
  gap: 10px;
  @include font-semi;
  padding: 15px 0;
  width: 100%;
  display: none;

  @include r($breakpoint-2) {
    position: relative;
    display: flex;
    align-items: center;
  }

  svg {
    stroke: $green;
  }

  &__wrapper {
    background-color: $dark;
  }
}

.filter-item {
  padding-bottom: 28px;
  margin-bottom: 28px;
  border-bottom: 1px dashed #E5E5E5;
  @include r($breakpoint-2) {
    margin-bottom: 15px;
    padding-bottom: 15px;

    &:last-child {
      border-bottom: none;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    @include r($breakpoint-2) {
      max-width: 350px;
    }
  }
  &__button {
    width: 22px;
    height: 22px;

    &:hover {
      svg {
        stroke: $dark;
      }
    }

    &.active {
      svg {
        transform: scaleY(-1);
      }
    }
    svg {
      width: 20px;
      height: 7px;
      stroke: $green;
      @include ease;
    }

    &--small {
      svg {
        width: 12px;
        height: 5px;
      }
    }
  }

  &__title {
    @include text1;
    @include font-semi;
  }

  &__content {
    padding-top: 20px;

    @include r($breakpoint-2) {
      padding-top: 15px;
      max-width: 350px;
    }
  }
}

.filter-checkbox {
  & > span {
    @include text3;

    & > svg {
      width: 12px;
      height: 12px;
      left: 4px;
      top: 4px;
    }
  }

  &__sex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -2px !important;

    span {
      margin-top: 0;
    }
  }
}

.filter-variants {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-specializations {
  max-height: 85px;
  overflow-y: auto;

  @include scroll-gray;
}
.filter-locations {
  max-height: 300px;
  overflow-y: auto;

  @include scroll-gray;
}

.catalog-right-col {
  padding-top: 30px;
  padding-bottom: 40px;

  .row > div {
    height: auto;
  }

  &--first {
    padding-bottom: 180px;

    @include r($breakpoint-2) {
      padding-bottom: 90px;
    }
  }
}


.item {
  padding: 27px;
  border-radius: 22px;
  background-color: $white;
  overflow: hidden;
  height: 100%;
}

.item-top {
  position: relative;
}
.item-price {
  position: absolute;
  right: -3px;
  top: 0;
  text-align: right;
  @include text3;

  div:first-child {
    @include font-semi;
  }
  div:last-child {
    color: $gray;
  }
}

.item-info {
  @include text3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 30px;

  &__position {
    position: relative;
    padding: 6px 17px 6px 0;
    display: inline-block;
    @include font-semi;

    &::before {
      position: absolute;
      content: '';
      width: calc(100% + 27px);
      height: 100%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 2px solid $green;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-left: none;
    }
  }
}

.item-status {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.catalog-controls {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__bottom {
    position: relative;

  }
}

.catalog-select {
  width: 58px;

  &__wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    @include r($breakpoint-3) {
      display: none;
    }
  }
}

.item-cta {
  position: relative;
  padding: 25px;
  background-color: $green;
  border-radius: 22px;
  overflow: hidden;


  &__picture {
    position: absolute;
    max-width: 250px;
    height: auto;
    right: -70px;
    bottom: -10px;
  }

  &__in {
    position: relative;
    z-index: 1;
  }

  button {
    margin-top: 70px;
  }
}