<div class="container">
    <div class="base-title__wrapper">
        <div class="title-h1 font-semi upp ls03">
            В нашей базе более <span class="color-gray">553</span><br class="d-none d-md-inline">
            IT-специалистов от&nbsp;<span class="color-gray">20</span><br class="d-none d-md-inline">
            компаний
        </div>
        <div class="base-subtitle">Платформа подбирает подходящих кандидатов под потребности <br> заказчика и быстро выводит сотрудника на проект</div>
    </div>
    <div class="base-grid section-pd-1">
        <div class="base-item">
            <div class="label">DevOps</div>
            <div>
                <div>1 701 агентство</div>
                <div>от 2 500₽/час</div>
            </div>
        </div>
        <div class="base-item">
            <div class="label">Аналитик</div>
            <div>
                <div>1 003 агентство</div>
                <div>от 2 000₽/час</div>
            </div>
        </div>
        <div class="base-item">
            <div class="label">Руководитель проектов</div>
            <div>
                <div>1 796 агентств</div>
                <div>от 2 200₽/час</div>
            </div>
        </div>
        <div class="base-item">
            <div class="label">Инженер</div>
            <div>
                <div>630 агентств</div>
                <div>от 1 500₽/час</div>
            </div>
        </div>


        <div class="base-item">
            <div class="label">Разработчик</div>
            <div>
                <div>1170 агентств</div>
                <div>от 2 200₽/час</div>
            </div>
        </div>
        <div class="base-item">
            <div class="label">Дизайнер</div>
            <div>
                <div>1 408 агентств</div>
                <div>от 1 200₽/час</div>
            </div>
        </div>
        <div class="base-item">
            <div class="label">Системный администратор</div>
            <div>
                <div>1 991 агентств</div>
                <div>от 1 500₽/час</div>
            </div>
        </div>
        <div class="base-item">
            <div class="label">+12</div>
        </div>
    </div>

    <div class="spec-section">
        <div class="title-h2 font-semi upp title-mb-1 ls03">Специалисты, которые <br class="d-inline d-md-none"> могут<br class="d-none d-md-inline"> приступить  <br class="d-inline d-md-none">уже <span class="color-gray">завтра</span></div>
        <img class="spec-picture" src="{{root}}assets/img/spec-img.png" alt="Spec">

        <div class="spec-row__wrapper">
            <div class="spec-row row row-gap-16 mb-16">
                <div class="col-lg-6 spec-slide">
                    <div class="spec card-lg">
                        <div class="spec-top">
                            {{> rating }}

                            <div class="card-info mt-2">
                                <div class="title-h3 upp font-semi mb-1">Анастасия Л.</div>
                                <div class="color-gray">Грузия, Тбилиси, UTC+4</div>
                            </div>
                        </div>
                        <div class="spec-char">
                            <div class="spec-char__item">
                                <div>Специализация:</div>
                                <div>Vue.js разработчик</div>
                            </div>
                            <div class="spec-char__item">
                                <div>3500/час</div>
                                <div>НДС не облагается</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Уровень:</div>
                                <div>Middle</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Отрасли:</div>
                                <div>CSS, HTML, JavaScript, PHP</div>
                            </div>
                        </div>

                        <div class="spec-char__item">
                            <div>Описание:</div>
                            <div>
                                Текст текст текст<br>
                                Текст 13 ваапв ыыф
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 spec-slide">
                    <div class="spec card-lg">
                        <div class="spec-top">
                            {{> rating }}

                            <div class="card-info mt-2">
                                <div class="title-h3 upp font-semi mb-1">Анастасия Л.</div>
                                <div class="color-gray">Грузия, Тбилиси, UTC+4</div>
                            </div>
                        </div>
                        <div class="spec-char">
                            <div class="spec-char__item">
                                <div>Специализация:</div>
                                <div>Vue.js разработчик</div>
                            </div>
                            <div class="spec-char__item">
                                <div>3500/час</div>
                                <div>НДС не облагается</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Уровень:</div>
                                <div>Middle</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Отрасли:</div>
                                <div>CSS, HTML, JavaScript, PHP</div>
                            </div>
                        </div>

                        <div class="spec-char__item">
                            <div>Описание:</div>
                            <div>
                                Текст текст текст<br>
                                Текст 13 ваапв ыыф
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 spec-slide">
                    <div class="spec card-lg">
                        <div class="spec-top">
                            {{> rating }}

                            <div class="card-info mt-2">
                                <div class="title-h3 upp font-semi mb-1">Анастасия Л.</div>
                                <div class="color-gray">Грузия, Тбилиси, UTC+4</div>
                            </div>
                        </div>
                        <div class="spec-char">
                            <div class="spec-char__item">
                                <div>Специализация:</div>
                                <div>Vue.js разработчик</div>
                            </div>
                            <div class="spec-char__item">
                                <div>3500/час</div>
                                <div>НДС не облагается</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Уровень:</div>
                                <div>Middle</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Отрасли:</div>
                                <div>CSS, HTML, JavaScript, PHP</div>
                            </div>
                        </div>

                        <div class="spec-char__item">
                            <div>Описание:</div>
                            <div>
                                Текст текст текст<br>
                                Текст 13 ваапв ыыф
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 spec-slide">
                    <div class="spec card-lg">
                        <div class="spec-top">
                            {{> rating }}

                            <div class="card-info mt-2">
                                <div class="title-h3 upp font-semi mb-1">Анастасия Л.</div>
                                <div class="color-gray">Грузия, Тбилиси, UTC+4</div>
                            </div>
                        </div>
                        <div class="spec-char">
                            <div class="spec-char__item">
                                <div>Специализация:</div>
                                <div>Vue.js разработчик</div>
                            </div>
                            <div class="spec-char__item">
                                <div>3500/час</div>
                                <div>НДС не облагается</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Уровень:</div>
                                <div>Middle</div>
                            </div>
                            <div class="spec-char__item">
                                <div>Отрасли:</div>
                                <div>CSS, HTML, JavaScript, PHP</div>
                            </div>
                        </div>

                        <div class="spec-char__item">
                            <div>Описание:</div>
                            <div>
                                Текст текст текст<br>
                                Текст 13 ваапв ыыф
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="button button-green upp">
            <span class="d-md-none">Все специалисты</span>
            <span class="d-none d-md-inline">Посмотреть всех специалистов</span>
        </a>
        <div class="spec-nav slider-nav swiper-nav swiper-nav--light swiper-nav-relative">
            <button class="js-spec-slider-prev">
                <svg>
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <button class="js-spec-slider-next">
                <svg>
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>