<div class="container">
    <div class="title-h2 ls03 font-semi upp title-mb-1">Нам доверяют <span class="color-gray">ведущие&nbsp;бренды</span></div>
</div>
<div class="trust-wrapper">
    <div class="trust-grid">
        <div class="trust-row">
            <div class="trust-item"><svg width="66" height="22"><use xlink:href="#brand-1"></use></svg></div>
            <div class="trust-item"><svg width="114" height="22"><use xlink:href="#brand-2"></use></svg></div>
            <div class="trust-item"><svg width="80" height="22"><use xlink:href="#brand-3"></use></svg></div>
            <div class="trust-item"><svg width="96" height="26"><use xlink:href="#brand-4"></use></svg></div>
            <div class="trust-item"><svg width="86" height="34"><use xlink:href="#brand-5"></use></svg></div>
            <div class="trust-item"><svg width="76" height="22"><use xlink:href="#brand-6"></use></svg></div>
            <div class="trust-item"><svg width="103" height="22"><use xlink:href="#brand-7"></use></svg></div>
            <div class="trust-item"><svg width="67" height="22"><use xlink:href="#brand-8"></use></svg></div>
            <div class="trust-item"><svg width="50" height="22"><use xlink:href="#brand-9"></use></svg></div>
        </div>
        <div class="trust-row">
            <div class="trust-item"><svg width="104" height="26"><use xlink:href="#brand-10"></use></svg></div>
            <div class="trust-item"><svg width="128" height="18"><use xlink:href="#brand-11"></use></svg></div>
            <div class="trust-item"><svg width="87" height="18"><use xlink:href="#brand-12"></use></svg></div>
            <div class="trust-item"><svg width="18" height="29"><use xlink:href="#brand-13"></use></svg></div>
            <div class="trust-item"><svg width="109" height="17"><use xlink:href="#brand-14"></use></svg></div>
            <div class="trust-item"><svg width="61" height="22"><use xlink:href="#brand-15"></use></svg></div>
            <div class="trust-item"><svg width="101" height="12"><use xlink:href="#brand-16"></use></svg></div>
            <div class="trust-item"><svg width="105" height="22"><use xlink:href="#brand-17"></use></svg></div>
            <div class="trust-item"><svg width="49" height="30"><use xlink:href="#brand-18"></use></svg></div>
        </div>

    </div>
</div>
