<section class="faq section-pd-1">
    <div class="container">
        <img class="faq-image" src="{{root}}assets/img/question.png" alt="Question">
        <div class="title-h1 font-semi ls03 upp title-mb-2">Часто<br class="d-inline d-md-none"> задаваемые<br class="d-inline d-md-none"> <span class="color-gray">вопросы</span></div>

        <div class="row row-gap-16 faq-list">
            <div class="col-lg-4">
                <div class="faq-card__wrapper">
                    <div class="faq-card p25 card-md bg-white">
                        <button class="faq-button js-toggle-question active">
                            <svg><use xlink:href="#chevron-bottom"></use></svg>
                        </button>
                        <div class="title-h3 font-semi upp mb-3 ls03">С кем я могу общаться по платформе и всем вопросам?</div>
                        <div class="faq-text color-gray">По функциональности платформы доступна форма обратной связи <br>на сайте, по общим вопросам можно обращаться к администратору <br>по адресу: 101000, г. Москва, Лубянский проезд, 15 стр.2<br><a
                                href="mailto:info@gms-expert.ru" class="link-underline">info@gms-expert.ru</a>,<br>телефону:&nbsp;<span class="wsnw">+7 (495) 150-45-84</span>.</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="faq-card__wrapper">
                    <div class="faq-card p25 card-md bg-white">
                        <button class="faq-button js-toggle-question">
                            <svg><use xlink:href="#chevron-bottom"></use></svg>
                        </button>
                        <div class="title-h3 font-semi upp mb-3 ls03">Как решается вопрос конфиденциальности?</div>
                        <div class="faq-text color-gray">Каждый участник подписывает NDA, который обязывает стороны соблюдать режим конфиденциальности в отношении всей информации, которая была получена во время проекта.</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="faq-card__wrapper">
                    <div class="faq-card p25 card-md bg-white">
                        <button class="faq-button js-toggle-question">
                            <svg><use xlink:href="#chevron-bottom"></use></svg>
                        </button>
                        <div class="title-h3 font-semi upp mb-3 ls03">Как устроена процедура отбора кандидатов на проект?</div>
                        <div class="faq-text color-gray">После оформления заявки <br>на подбор наши администраторы <br>в течение&nbsp;1-3 дней&nbsp;подберут кандидатов, удовлетворяющих требованиям, вы изучаете
                            <br>их навыки, профессиональный опыт, при необходимости организуем собеседования. </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="faq-card__wrapper">
                    <div class="faq-card p25 card-md bg-white">
                        <button class="faq-button js-toggle-question">
                            <svg><use xlink:href="#chevron-bottom"></use></svg>
                        </button>
                        <div class="title-h3 font-semi upp mb-3 ls03">Как формируется <br> рейтинг?</div>
                        <div class="faq-text color-gray">Первоначально рейтинг определяется на основе независимых источников, далее рейтинг корректируется в зависимости от своевременного внесения информации в систему и качественной работы каждой из сторон. Для повышения рейтинга необходимо своевременно вносить всю необходимую информацию, выполнять
                            правила платформы, качественно выполнять свой объем работ в рамках заказа</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="faq-card__wrapper">
                    <div class="faq-card p25 card-md bg-white">
                        <button class="faq-button js-toggle-question">
                            <svg><use xlink:href="#chevron-bottom"></use></svg>
                        </button>
                        <div class="title-h3 font-semi upp mb-3 ls03">Какие документы нужно подписывать <br>в процессе проекта?</div>
                        <div class="faq-text color-gray">NDA, договор, отчетные документы по итогу работ (акты выполненных работ и др.)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>