<form class="filter" id="filter">
    <div class="filter__in">
        <div class="filter-fields">
            <div class="title-h3 title-mb-2 font-semi upp d-lg-none">Фильтр</div>
            <div class="filter-item">
                <div class="filter-item__top">
                    <span class="filter-item__title">Опыт работы</span>
                    <button class="filter-item__button active js-toggle-filter-item">
                        <svg><use xlink:href="#chevron-bottom"></use></svg>
                    </button>
                </div>
                <div class="filter-item__content">
                    <div class="filter-variants">
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Не имеет значения</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>от 1 года до 3 лет</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>от 3 до 6 лет</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>более 6 лет</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>нет опыта</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <!---->
            <div class="filter-item">
                <div class="filter-item__top">
                    <span class="filter-item__title">Образование</span>
                    <button class="filter-item__button active js-toggle-filter-item">
                        <svg><use xlink:href="#chevron-bottom"></use></svg>
                    </button>
                </div>
                <div class="filter-item__content">
                    <div class="filter-variants">
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Не требуется или не&nbsp;указано</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Высшее<br> техническое</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Высшее</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Среднее профессиональное</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Другое</span>
                            </span>
                        </label>
                    </div>
                </div>    
            </div>
            <!---->
            <div class="filter-item">
                <div class="filter-item__top">
                    <span class="filter-item__title">Специализация</span>
                    <button class="filter-item__button filter-item__button--small active js-toggle-filter-item">
                        <svg><use xlink:href="#chevron-bottom"></use></svg>
                    </button>
                </div>
                <div class="filter-item__content">
                    <div class="filter-variants filter-specializations">
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox" checked>
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Vue.js разработчик</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Data scientist</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>DevOps/SRE</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Vue.js разработчик</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Data scientist</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>DevOps/SRE</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <!---->
            <div class="filter-item">
                <div class="filter-item__top">
                    <span class="filter-item__title">Грейд</span>
                    <button class="filter-item__button filter-item__button--small active js-toggle-filter-item">
                        <svg><use xlink:href="#chevron-bottom"></use></svg>
                    </button>
                </div>
                <div class="filter-item__content">
                    <div class="filter-variants">
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox" checked>
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Lead</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Senior</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Middle</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Junior</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <!---->
            <div class="filter-item">
                <div class="filter-item__top">
                    <span class="filter-item__title">Локация</span>
                    <button class="filter-item__button filter-item__button--small active js-toggle-filter-item">
                        <svg><use xlink:href="#chevron-bottom"></use></svg>
                    </button>
                </div>
                <div class="filter-item__content">
                    <div class="filter-variants filter-locations">
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Москва</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox" checked>
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Санкт-Петербург</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Самара</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Тюмень</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Краснодар</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Новокузнецк</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Красноярск</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Ярославль</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Кемерово</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Новый Уренгой</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Москва</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Санкт-Петербург</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Самара</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Тюмень</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Краснодар</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Новокузнецк</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Красноярск</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Ярославль</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Кемерово</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Новый Уренгой</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <!---->
            <div class="filter-item">
                <div class="filter-item__top">
                    <span class="filter-item__title">Формат работы</span>
                    <button class="filter-item__button filter-item__button--small active js-toggle-filter-item">
                        <svg><use xlink:href="#chevron-bottom"></use></svg>
                    </button>
                </div>
                <div class="filter-item__content">
                    <div class="filter-variants">
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Удаленно</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Гибрид</span>
                            </span>
                        </label>
                        <label class="checkbox filter-checkbox">
                            <input type="checkbox">
                            <span class="checkbox__text">
                                <svg><use xlink:href="#check"></use></svg>
                                <span>Офис</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="filter-actions">
            <div class="filter-actions__in">
                <button type="reset" class="filter-actions__reset">
                    <span>Сбросить</span>
                    <span>+</span>
                </button>

                <button class="button button-green w-100" type="submit">Применить</button>
            </div>
        </div>
    </div>
</form>