<footer class="footer section-pd-2 ">
    <div class="container">
        <a href="#" class="footer-logo">
            <svg>
                <use xlink:href="#logo"></use>
            </svg>
        </a>

        <div class="row row-gap-50">
            <div class="col-lg-4">
                ООО "ГМС Эксперт" <br>
                ИНН 7722464131
            </div>
            <div class="col-lg-5">
                <div class="d-flex flex-column align-items-start">
                    <a href="#" class="font-semi">Правила платформы</a>
                    <a href="#" class="font-semi">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#" class="nk">
                    <svg width="69" height="14">
                        <use xlink:href="#nk"></use>
                    </svg>
                    <span>Разработка<br> и продвижение</span>
                </a>
            </div>
        </div>
    </div>

</footer>