<span class="form-rating ml-lg-2">
    <input type="radio" name="review-rating-1" id="review-star1-5" value="5">
    <label for="review-star1-5">
        <span><img src="{{root}}assets/img/rating.png" alt="star"></span>
    </label>

    <input type="radio" name="review-rating-1" id="review-star1-4" value="4">
    <label for="review-star1-4">
        <span><img src="{{root}}assets/img/rating.png" alt="star"></span>
    </label>

    <input type="radio" name="review-rating-1" id="review-star1-3" value="3" checked>
    <label for="review-star1-3">
        <span><img src="{{root}}assets/img/rating.png" alt="star"></span>
    </label>

    <input type="radio" name="review-rating-1" id="review-star1-2" value="2">
    <label for="review-star1-2">
        <span><img src="{{root}}assets/img/rating.png" alt="star"></span>
    </label>

    <input type="radio" name="review-rating-1" id="review-star1-1" value="1">
    <label for="review-star1-1">
        <span><img src="{{root}}assets/img/rating.png" alt="star"></span>
    </label>
</span>