<header class="header">
    <div class="header-content">
        <div class="container">
            <div class="header__in">
                <div class="header-logo__wrapper">
                    <button class="burger js-toggle-menu">
                        <svg width="17" height="13"><use xlink:href="#burger"></use></svg>
                        <svg width="15" height="15"><use xlink:href="#cross"></use></svg>
                    </button>

                    <a href="#" class="header-logo">
                        <svg>
                            <use xlink:href="#logo"></use>
                        </svg>
                        <span class="header-logo__text">В2В-платформа субподряда, объединяющая<br>
                            заказчиков и исполнителей по всей России</span>
                    </a>
                </div>

                <div class="header-main">
                    <div class="header-nav__wrapper">
                        <div class="header-nav">
                            <a href="#" class="header-nav__link">О проекте</a>
                            <a href="#" class="header-nav__link">Заказчикам</a>
                            <a href="#" class="header-nav__link">Исполнители</a>
                        </div>
                    </div>

                    <a href="#" class="button button-light header-tel">
                        <img src="{{root}}assets/img/phone.png" alt="Phone">
                    </a>

                    <a href="#" class="button button-green">Личный кабинет</a>

                </div>
            </div>
        </div>

        <div class="menu">
            <div class="container">
                <div class="menu__grid">
                    <div class="menu-content"></div>
                    <div class="menu-base d-flex flex-column align-items-end">
                        <svg class="menu-logo"><use xlink:href="#logo"></use></svg>
                        <div>
                            <div>ООО "ГМС Эксперт"</div>
                            <div>ИНН 7722464131</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>