<section class="section-pd-1 bg-green">
    <div class="container">
        <div class="row row-gap-20 align-items-center">
            <div class="col-lg-5">
                <div class="title-h2 font-semi ls03 upp">
                    GMS Expert - <span class="color-gray">Участник проекта</span> по<span class="d-inline d-md-none">&nbsp;</span>созданию и обеспечению функционирования <span class="color-gray"><br>ИНТЦ МГУ <br class="d-none d-md-inline">"Воробьевы горы"</span>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="title-mb-25">
                    Инновационный научно технологический центр <br>МГУ «Воробьевы горы» создан в соответствии с Федеральным законом от 29.07.2017 № 216-ФЗ «Об инновационных научно технологических центрах и о внесении изменений <br>в отдельные законодательные акты Российской Федерации» <br>и иными нормативными актами Российской Федерации» <br>и постановлением Правительства Российской Федерации <br>от 28 марта 2019 года № 332.
                </div>
                <div>«О создании инновационного научно технологического центра «Инновационный научно технологический центр <br>МГУ «Воробьевы горы».</div>
            </div>
        </div>

    </div>
</section>