<div class="col-md-6">
    <div class="item">
        <div class="item-top title-mb-3">
            <div class="mb-2">

                {{> rating }}

            </div>

            <div class="d-flex align-items-center gap-10 mb-2">
                <div class="title-h3 ls03 font-semi">
                    <span>Адам Б,</span>
                    <span class="color-gray">34</span>
                </div>
                <svg width="24" height="24"><use xlink:href="#male"></use></svg>
            </div>

            <div class="color-gray text3">Россия, Ставрополь, UTC+3</div>

            <div class="item-price">
                <div>3500/час</div>
                <div>НДС не облагается</div>
            </div>
        </div>
        <div class="item-info">
            <div class="item-info__position">
                <span>Системный аналитик</span>
            </div>
            <div>
                <span class="font-semi">Уровень:</span>
                <span>Middle</span>
            </div>
            <div>
                <span class="font-semi">Опыт работы:</span>
                <span>3 года</span>
            </div>
            <div>
                <span class="font-semi">Специализация:</span>
                <span>Vue.js разработчик</span>
            </div>
            <div>
                <span class="font-semi">Образование:</span>
                <span>Российский экономический университет имени Г.В. Плеханова, Институт экономики</span>
            </div>
            <div class="item-status">
                <span class="ready-flag"></span>
                <span class="font-semi">Готов приступить сегодня</span>
            </div>
        </div>

        <button class="button button-green" data-fancybox data-src="#popup-call">Получить резюме</button>

    </div>
</div>