<div class="col-md-6">
    <div class="item">
        <div class="item-info">
            <div>
                <div class="item-info__position item-info__position-vacancy mb-2">
                    <span>Ведущий разработчик Java</span>
                </div>
                <div class="color-gray">Россия, Санкт-Петербург</div>
            </div>
            <div>
                <span class="font-semi">Уровень:</span>
                <span>Lead</span>
            </div>
            <div>
                <span class="font-semi">Опыт работы:</span>
                <span>Более 7 лет</span>
            </div>
            <div>
                <span class="font-semi">Образование:</span>
                <span>Высшее техническое</span>
            </div>
            <div class="item-text item-text--overflow">
                <p>Опыт разработки на Java от 3 лет (Java 8, 11, 17)</p>
                <p>Уверенное знание Java Core, Collections, Stream API</p>
                <p>Коммерческий опыт разработки на Spring Boot (WEB, Data JPA, OpenFeign)</p>
                <p>Опыт работы с Camunda BPMN (автоматизация процессов различной сложности) – основное и ключевое требование</p>
                <p>Практические знания и опыт работы с Kafka и RabbitMQ</p>
                <p>Уметь работать с реляционными БД PostgreSQL(DML, DDL)</p>
                <p>Опыт работы со стеком ELK, в том числе OpenSearch(Kibana)</p>
                <p>Понимать и ориентироваться в devOPS процессах - Docker/Kubernetes/GitLab CI-CD/Grafana</p>
                <p>Знание и понимание REST-архитектуры</p>
                <p>Опыт написания автотестов JUNIT</p>
            </div>
            <div class="item-status">
                <span class="ready-flag"></span>
                <span class="font-semi">Удаленно</span>
            </div>
        </div>

        <button class="button button-green" data-fancybox data-src="#popup-call">Подробнее о вакансии</button>

    </div>
</div>