<div class="col-md-6">
    <div class="item">
        <div class="item-info">
            <div>
                <div class="item-info__position item-info__position-vacancy mb-2">
                    <span>Аналитик онлайн продаж</span>
                </div>
                <div class="color-gray">Россия, Санкт-Петербург</div>
            </div>
            <div>
                <span class="font-semi">Уровень:</span>
                <span>Middle</span>
            </div>
            <div>
                <span class="font-semi">Опыт работы:</span>
                <span>2-5 лет</span>
            </div>
            <div>
                <span class="font-semi">Образование:</span>
                <span>Высшее техническое</span>
            </div>
            <div class="item-text">
                <p>Высокий уровень владения BI-инструментами визуализации, в идеале опыт работы с 2 и более подобными системами (Power BI, Tableau, SuperSet, DataLens и т.п.)</p>
                <p>Высокий уровень владения SQL</p>
                <p>Базовый уровень владения Python</p>
            </div>
            <div class="item-status">
                <span class="ready-flag"></span>
                <span class="font-semi">Удаленно</span>
            </div>
        </div>

        <button class="button button-green" data-fancybox data-src="#popup-call">Подробнее о вакансии</button>

    </div>
</div>