<div class="col-2 col-lg-6 col-md-5">
    <div class="offer-cards__wrapper">
        <div class="offer-cards">
            <div class="offer-cards-left">
                <div class="offer-left-top-card">
                    <img src="{{root}}assets/img/offer-card-picture.jpg" alt="Card picture">
                </div>
                <div class="offer-left-bottom-card p27 card-md">
                    {{> rating }}

                    <div class="card-info mb-5">
                        <div class="d-flex align-items-center gap-10 font-semi mb-2">
                            <div class="title-h3 ls03">Адам Б, <span class="color-gray">34</span></div>
                            <svg width="24" height="24">
                                <use xlink:href="#male"></use>
                            </svg>
                        </div>
                        <div class="color-gray">Россия, Ставрополь</div>
                    </div>
                    <div class="font-semi mb-4 upp">Системный аналитик</div>
                    <div class="mb-4">
                        <div class="mb-2"><span class="font-semi">Уровень:</span> Middle</div>
                        <div class="mb-2"><span class="font-semi">Опыт работы:</span> 3</div>
                        <div class="mb-2">Vue.js разработчик</div>
                        <div><span class="font-semi">Образование:</span> Российский экономический университет имени Г.В. Плеханова, Институт экономики</div>
                    </div>

                    <div class="d-flex align-items-center gap-8 mb-4">
                        <span class="ready-flag"></span>
                        <span class="font-semi">Готов приступить сегодня</span>
                    </div>

                    <div class="button button-green">Получить резюме</div>
                </div>
            </div>

            <div class="offer-cards-right">
                <div class="offer-right-top-card">
                    <div class="offer-right-top-card__title-wrapper">
                        <div class="offer-right-top-card__title ls03">
                                        <span>Среднее <br>
                                            время <br>
                                            закрытия <br>
                                            вакансии</span>
                            <span class="wsnw">1 ДЕНЬ</span>
                            <img class="offer-right-top-card__img" src="{{root}}assets/img/rocket.png" alt="Rocket">
                        </div>
                    </div>

                    <svg class="offer-right-top-card__logo">
                        <use xlink:href="#logo"></use>
                    </svg>
                </div>
                <div class="offer-right-bottom-card">
                    <div class="offer-right-bottom-card__in">
                        <img src="{{root}}assets/img/logo-card-1.png" alt="Logo card">
                        <img src="{{root}}assets/img/logo-card-2.png" alt="Logo card">
                        <img src="{{root}}assets/img/logo-card-3.png" alt="Logo card">
                        <img src="{{root}}assets/img/logo-card-4.png" alt="Logo card">
                        <img src="{{root}}assets/img/logo-card-5.png" alt="Logo card">
                        <img src="{{root}}assets/img/logo-card-6.png" alt="Logo card">
                        <img src="{{root}}assets/img/logo-card-7.png" alt="Logo card">
                        <div class="offer-right-bottom-card__button">
                            <svg width="16" height="13">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>