<div id="popup-call" class="popup__wrapper popup__wrapper-small" style="display: none">
    <div class="popup__in">
        <div class="popup-title title-h4 font-medium">Заполните форму и мы свяжемся с&nbsp;Вами в&nbsp;течение&nbsp;10&nbsp;минут</div>
        <div class="popup__fields">
            <input type="text" class="form-input" placeholder="Имя фамилия">
            <input type="tel" class="form-input js-tel" placeholder="Телефон">
            <input type="email" class="form-input" placeholder="Email">
        </div>
        <label class="checkbox">
            <input type="checkbox" checked>
            <span class="checkbox__text">
                <svg><use xlink:href="#check"></use></svg>
                <span>Принимаю условия <a href="#" class="font-gbold link-underline">политики конфиденциальности</a></span>
            </span>
        </label>

        <button class="button button-green upp">Отправить</button>
    </div>
</div>
