<section class="bg-green pres-section section-pd-1">
    <div class="container">
        <img class="pres-image" src="{{root}}assets/img/pres-img.jpg" alt="Pres">
        <div class="row row-gap-30">
            <div class="col-lg-6">
                <div class="title-h1 ls03 font-semi upp title-mb-3">
                    Получите презентацию <br>
                    о платформе <br>
                    <span class="color-gray">GMS Expert</span>
                    удобным для вас способом
                </div>

                <div class="title-h3 font-semi ls03 upp mb-2">Введите ваши данные </div>
                <div>и получите презентацию о платформе GMS Expert</div>
            </div>
            <div class="col-lg-6">
                <div class="pres-form__wrapper">
                    <form class="pres-form p25 bg-white card-lg">
                        <div class="font-semi ls03 upp title-mb-3">ВЫБЕРИТЕ СПОСОБ СВЯЗИ:</div>

                        <div class="d-flex align-items gap-10 title-mb-2">
                            <label class="feed-radio">
                                <input type="radio" name="connection-type" checked  value="ws">
                                <span class="feed-radio__text">
                                    <img src="{{root}}assets/img/ws.png" alt="Ws">
                                </span>
                            </label>
                            <label class="feed-radio">
                                <input type="radio" name="connection-type" value="tg">
                                <span class="feed-radio__text">
                                    <img src="{{root}}assets/img/tg.png" alt="Tg">
                                </span>
                            </label>
                            <label class="feed-radio">
                                <input class="js-form-toggle" type="radio" name="connection-type" value="email">
                                <span class="feed-radio__text">
                                    <img src="{{root}}assets/img/em.png" alt="Em">
                                </span>
                            </label>
                        </div>

                        <div class="mb-3 d-flex flex-column align-items-start w-100 row-gap-12">
                            <input type="text" class="form-input js-tel w-100" placeholder="Введите ваш телефон">
                            <input type="email" class="js-form-email form-input w-100" placeholder="Введите вашу почту">
                        </div>

                        <div class="title-mb-2">
                            <label class="checkbox">
                                <input type="checkbox" checked>
                                <span class="checkbox__text">
                                    <svg><use xlink:href="#check"></use></svg>
                                    <span>Я принимаю условия<br> <a href="#" class="link-underline">политики конфиденциальности</a></span>
                                </span>
                            </label>
                        </div>

                        <button class="button button-dark w-100 upp">Получить презентацию</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>