<div class="container">
    <div class="d-flex justify-content-between align-items-center gap-10 title-mb-1">
        <div class="title-h1 font-semi upp ls03">Отзывы</div>

        <div class="slider-nav swiper-nav swiper-nav-relative">
            <button class="js-reviews-slider-prev">
                <svg>
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <button class="js-reviews-slider-next">
                <svg>
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="slider-wrapper reviews-slider">
        <div class="slider">
            <div class="js-reviews-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review__text p25 card-lg bg-gray">
                                <div class="title-mb-4">
                                    {{> rating }}

                                </div>
                                <div>Как крупной корпорации, нам важно, чтобы работа выполнялась на высоком уровне качества и в строго установленные сроки. Платформа ГМС-Эксперт многократно выручала нас, предоставляя специалистов на временные проекты. Особенно радует, что все вопросы документооборота и отчетности берут на себя, это серьезно экономит нам время и ресурсы.</div>
                            </div>
                            <div class="review__info">
                                <img class="review__info-picture" src="{{root}}assets/img/rev-1.jpg" alt="Review">

                                <div>
                                    <div class="font-semi mb-1">Сергей</div>
                                    <div class="text4 color-gray">директор IT-отдела</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review__text p25 card-lg bg-gray">
                                <div class="title-mb-4">
                                    {{> rating }}

                                </div>
                                <div>ГМС-Эксперт идеально подходит для нашего стартапа. Мы были в поиске квалифицированных разработчиков для запуска нового продукта и получили именно тех специалистов, которые нам нужны, избежав долгого процесса найма. Платформа действительно помогает сохранять фокус на развитии бизнеса вместо HR-рутины.</div>
                            </div>
                            <div class="review__info">
                                <img class="review__info-picture" src="{{root}}assets/img/rev-2.jpg" alt="Review">

                                <div>
                                    <div class="font-semi mb-1">Мария</div>
                                    <div class="text4 color-gray">сооснователь и CTO</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review">
                            <div class="review__text p25 card-lg bg-gray">
                                <div class="title-mb-4">
                                    {{> rating }}

                                </div>
                                <div>Как небольшая IT-компания, мы всегда занимались поиском проектов для наших специалистов. С ГМС-Эксперт этот процесс значительно упростился. Платформа не только обеспечивает нас постоянным потоком интересных проектов, но и предлагает удобные и регулярные платежи. Теперь мы можем сосредоточиться на выполнении задач и развитии компании, зная, что наши специалисты всегда при деле.</div>
                            </div>
                            <div class="review__info">
                                <img class="review__info-picture" src="{{root}}assets/img/emp-3.png" alt="Review">

                                <div>
                                    <div class="font-semi mb-1">Игорь</div>
                                    <div class="text4 color-gray">главный операционный директор</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>