<section class="rocket section-pd-1 bg-green">
    <div class="container">
        <img class="rocket-picture" src="{{root}}assets/img/rocket.png" alt="Rocket">
        <div class="rocket-title">
            <div class="title-h1 ls03 font-semi upp d-inline">
                Среднее<br class="d-inline d-md-none"><span class="d-none d-md-inline">&nbsp;</span>время <br>
                закрытия <br>
                вакансии
            </div>
            <div class="rocket-title__big d-inline font-semi ls03">1&nbsp;ДЕНЬ</div>
            <button class="button button-dark upp" data-fancybox data-src="#popup-call">отправить запрос</button>
        </div>
    </div>
</section>