<section class="bg-green selections">
    <form class="container">
        <div class="slider-wrapper selections-slider-wrapper spacing-2">
            <div class="slider js-selections-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type" checked>
                            <span class="radio__text">Все</span>
                        </label>
                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Разработка</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Дизайн</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Управление продуктом и проектом</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Тестирование</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Сопровождение</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Разработка</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Дизайн</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Управление продуктом и проектом</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Тестирование</span>
                        </label>

                    </div>
                    <div class="swiper-slide w-auto">
                        <label class="radio">
                            <input type="radio" name="type">
                            <span class="radio__text">Сопровождение</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="slider-nav swiper-nav swiper-nav--light">
                <button class="js-selections-slider-prev">
                    <svg>
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="js-selections-slider-next">
                    <svg>
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </form>
</section>