<div class="container">
    <div class="title-h2 font-semi title-mb-1 upp ls03">Решайте все операционные задачи<br> в рамках 1 договора с GMS Eхpert</div>
    <div class="row row-gap-16">
        <div class="col-lg-6">
            <div class="task task--big">
                <div class="task__number">01</div>
                <div class="task__info">
                    ПОЛНЫЙ ЦИКЛ УСЛУГ <br>
                    ПО ПОИСКУ, КВАЛИФИКАЦИИ, <br>
                    СОПРОВОЖДЕНИЮ ПРОЦЕССА <br>
                    ВЫВОДА СОТРУДНИКА НА ПРОЕКТ, <br>
                    ПОДДЕРЖКИ РАБОТЫ И ОПЛАТЫ
                </div>
                <img class="task__picture" src="{{root}}assets/img/task-1.png" alt="Task">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row row-gap-16">
                <div class="col-lg-6">
                    <div class="task">
                        <div class="task__number">02</div>
                        <div class="task__info">
                            СИСТЕМА<br>
                            РЕЙТИНГОВ
                        </div>
                        <img class="task__picture" src="{{root}}assets/img/task-2.png" alt="Task">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="task">
                        <div class="task__number">03</div>
                        <div class="task__info">
                            ФИНАНСОВАЯ<br>
                            ОТЧЕТНОСТЬ
                        </div>
                        <img class="task__picture" src="{{root}}assets/img/task-3.png" alt="Task">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="task">
                        <div class="task__number">04</div>
                        <div class="task__info">
                            ДОКУМЕНТООБОРОТ
                        </div>
                        <img class="task__picture" src="{{root}}assets/img/task-4.png" alt="Task">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="task">
                        <div class="task__number">04</div>
                        <div class="task__info">
                            ГИБКИЕ<br>
                            МЕХАНИЗМЫ ОПЛАТЫ
                        </div>
                        <img class="task__picture" src="{{root}}assets/img/task-5.png" alt="Task">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>