<div class="container">
    <div class="font-semi title-h1 ls03 upp title-mb-1">Как это работает</div>

    <div class="works-wrapper row row-gap-16 title-mb-0">
        <div class="col-lg-5 col-md-6">
            <div class="works p25 card-lg bg-white">
                <img class="works__picture" src="{{root}}assets/img/works-1.jpg" alt="Works">
                <div class="label title-mb-25">Заказчикам</div>
                <div class="works__text">
                    моментально найдем надежные ресурсы<br>
                    (IT-специалистов или команду) под <br>
                    требования, снизим операционные <br>
                    затраты на самостоятельный поиск<br>
                    и привлечение специалистов Middle</div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="works p25 card-lg bg-white">
                <img class="works__picture" src="{{root}}assets/img/works-2.jpg" alt="Works">
                <div class="label label--dark title-mb-25">Исполнителям</div>
                <div class="works__text">
                    поможем компаниям, <br>
                    у которых есть свободные <br>
                    специалисты, и недостаточно<br>
                    заказов для их загрузки
                </div>
            </div>
        </div>
    </div>
</div>